openapi: 3.0.1
info:
  title: 잇코노미 (치킨 가격 비교) API
  description: 치킨 브랜드 및 메뉴의 가격 정보를 제공하는 서비스의 API 명세서입니다.
  version: 1.0.0
servers:
  - url: https://api.eatconomy.com/v1
    description: 운영 서버
paths:
  /main:
    get:
      summary: 메인 페이지 데이터 조회
      description: 메인 페이지에 필요한 모든 핵심 데이터를 한번에 조회합니다.
      tags: [Main]
      responses:
        '200':
          description: 메인 페이지 데이터 조회 성공
          content:
            application/json:
              schema:
                type: object
                properties:
                  popularMenus:
                    type: array
                    items:
                      $ref: '#/components/schemas/PopularMenu'
                  popularBrands:
                    type: array
                    items:
                      $ref: '#/components/schemas/BrandSummary'
                  lowCostBrands:
                    type: array
                    items:
                      $ref: '#/components/schemas/BrandSummary'
  /brands:
    get:
      summary: 브랜드 목록 조회
      description: '카테고리(인기/저렴)에 따라 전체 브랜드 목록을 조회합니다.'
      tags: [Brand]
      parameters:
        - name: category
          in: query
          required: true
          description: 조회할 브랜드 카테고리
          schema:
            type: string
            enum: [popular, low-cost]
      responses:
        '200':
          description: 브랜드 목록 조회 성공
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/BrandSummary'
  /brands/{brandId}/menus:
    get:
      summary: 특정 브랜드의 메뉴 목록 조회
      description: '브랜드 ID에 해당하는 모든 치킨 메뉴 목록을 조회합니다.'
      tags: [Brand]
      parameters:
        - name: brandId
          in: path
          required: true
          description: 조회할 브랜드의 고유 ID
          schema:
            type: integer
      responses:
        '200':
          description: 메뉴 목록 조회 성공
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Menu'
        '404':
          description: 해당 브랜드가 존재하지 않음
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /search:
    get:
      summary: 브랜드 및 메뉴 검색
      description: '검색어와 일치하는 브랜드/메뉴를 검색합니다.'
      tags: [Search]
      parameters:
        - name: query
          in: query
          required: true
          description: 검색할 키워드
          schema:
            type: string
      responses:
        '200':
          description: 검색 성공
          content:
            application/json:
              schema:
                type: object
                properties:
                  primaryResult:
                    $ref: '#/components/schemas/BrandSummary'
                  recommendations:
                    type: array
                    items:
                      $ref: '#/components/schemas/BrandSummary'
  /menus/{menuId}/prices:
    get:
      summary: 특정 메뉴의 가격 비교 정보 조회
      description: '메뉴 ID에 해당하는 치킨의 배달 앱별 상세 가격 정보를 조회합니다.'
      tags: [Menu]
      parameters:
        - name: menuId
          in: path
          required: true
          description: 조회할 메뉴의 고유 ID
          schema:
            type: integer
      responses:
        '200':
          description: 가격 비교 정보 조회 성공
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MenuPriceComparison'
        '404':
          description: 해당 메뉴가 존재하지 않음
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
components:
  schemas:
    BrandSummary:
      type: object
      properties:
        id:
          type: integer
        name:
          type: string
        logoUrl:
          type: string
          format: uri
        cheapestMenuPrice:
          type: integer
        maxDiscount:
          type: integer
    Menu:
      type: object
      properties:
        id:
          type: integer
        name:
          type: string
        imageUrl:
          type: string
          format: uri
        officialPrice:
          type: integer
    PopularMenu:
      type: object
      properties:
        menuId:
          type: integer
        menuName:
          type: string
        imageUrl:
          type: string
          format: uri
        top3Apps:
          type: array
          items:
            type: object
            properties:
              appName:
                type: string
              appLogoUrl:
                type: string
                format: uri
              price:
                type: integer
    MenuPriceComparison:
      type: object
      properties:
        menuId:
          type: integer
        menuName:
          type: string
        menuImageUrl:
          type: string
          format: uri
        comparison:
          type: array
          items:
            type: object
            properties:
              appName:
                type: string
              appLogoUrl:
                type: string
                format: uri
              price:
                type: integer
              discountInfo:
                type: string
              isCheapest:
                type: boolean
    Error:
      type: object
      properties:
        code:
          type: string
        message:
          type: string
tags:
  - name: Main
  - name: Brand
  - name: Search
  - name: Menu